[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Netflix (Ice SSB)
Exec=chromium-browser --app=http://www.netfix.com --class=ICE-SSB-netflix --user-data-dir=/home/$USER/.local/share/ice/profiles/netflix
X-ICE-SSB-Profile=netflix
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/delinuxco/netflix.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-netflix
StartupNotify=true
